# This workflow will create a GitHub release with the wheel package from CI artifacts
name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types: ["completed"]
    branches: ["main"]
  workflow_dispatch:

jobs:
  release:
    if: success()
    environment: Production
    name: Create Release
    runs-on: ubuntu-latest
    
    steps:
    - name: Download artifacts from CI workflow
      uses: dawidd6/action-download-artifact@v6
      with:
        workflow: ci.yml
        workflow_conclusion: success
        name: python-package-distributions
        path: dist
        if_no_artifact_found: fail
    
    - name: Read Ci metadata
      id: ci-metadata
      run: |
          RUN_NUMBER=$(cat artifacts/run_number.txt)
          echo "ci_run_number=$RUN_NUMBER" >> $GITHUB_OUTPUT

    - name: Create GitHub Release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: "0.1.${{ github.run_number }}"
        files: dist/*.whl
        draft: false
        prerelease: false
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}