name: CI

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  workflow_dispatch:


env:
  PACKAGE_VERSION: "0.1.${{ github.run_number }}"

permissions:
  contents: read

jobs:
  build-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Test Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install .[test,non_databricks]  # Install main dependencies + test dependencies

    - name: Run pytest
      run: |
        pytest --junitxml=test-results.xml --cov=your_project --cov-report=xml
        
    - name: Upload pytest test results
      uses: actions/upload-artifact@v4
      with:
        name: pytest-results-${{ matrix.python-version }}
        path: junit/test-results-${{ matrix.python-version }}.xml
      if: ${{ always() }}

  build-package:
    needs: build-tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v5
      with:
        python-version: "3.x"

    - name: Install Dependencies for build
      run: |
        python -m pip install --upgrade pip
        python -m pip install build
        pip install .

    - name: Build package
      run: |
        python -m build -w

    - name: Publish package artifact
      uses: actions/upload-artifact@v4
      with:
        name: release-dists
        path: dist/